body {
  display: grid;
  font-family: 'Ubuntu', sans-serif;
  color: #3729fc;
}
#top {
  display: grid;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
  to top,
  white 0%,
  white 60%,
  #a829fc 25%,
  #a829fc 75%
  );
}
img {
  border: 5px solid whitesmoke;
  border-radius: 50%;
}
.image {
  align-items: auto;
  justify-content: auto;
}
.name {
  text-align: center;
  justify-content: center;
  align-items: center;
}
#bottom {
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 20px solid #a829fc;
}
.left {
  grid-template-rows: 50% 50%;
  background: linear-gradient(
    to right,
    white 0%,
    white 98%,
    #a829fc 98%,
    #a829fc 100%
  );
}
.contact {
  size: 90%;
  grid-row: 1/2;
  text-align: end;
  padding-right: 5%;
  padding-bottom: 5%;
}
p {
  font-size: 14px;
}
ul {
  font-size: 14px;
}
.skills {
  grid-row: 2/3;
  text-align: right;
  padding-right: 5%;
  padding-bottom: 5%;
}
ul ul::after {
  content: attr(data-icon);
  font-size: 1.25em;
}
.right {
  grid-template-rows: 40% 20% 40%;
  background: linear-gradient(
    to left,
    #a829fc 0%,
    #a829fc 18%,
    white 18%,
    white 100%
  );
}
.aboutMe {
  grid-row: 1/2;
  grid-column: 2/3;
  padding-left: 5%;
  padding-right: 10%;
}
.education {
  grid-row: 2/3;
  grid-column: 2/3;
  padding-left: 5%;
}
.experience {
  grid-row: 3/4;
  grid-column: 2/3;
  padding-left: 5%;
}
#exp {
  display: grid;
}